*{
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Roboto';
}
h1{
    text-transform: capitalize;
}

input{
    padding: 10px;
}

input:focus{
    outline: lightblue solid 3px;
}
form{
    padding-bottom: 20px;
}

img{
    width: 100px;
    border-radius: 50%;

}



[data-poke-card]{
    position: relative;
    margin: 0 auto;
    max-width: min(400px , 60%); 
    height: fit-content;
    border:  1px solid black;
    background-color: white;
}
[data-poke-card]::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(black 33% , white 33%);
    background-size: 5px 5px;
    top :10px;
    left: 10px;
    z-index: -1;
}
[data-poke-types]{
    width: 200px;
    margin: 0 auto;
}
[data-poke-types] div{
    border: 2px dashed black;
    margin: 10px 10px;
}

[data-poke-stats] div{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}